PATH_TO_SAVE =Path where folders should be save
BASE_DIR = d:\- Theory\Exports\
db_name = your db_name
db_user = your db_user
password = password of db
port = db port
host = db host defualt is localhost
dsn = logging to sentry than create new project, then paste here dsn starts with: https://
token = telegram bot token
channel_id = channel id for send error msg
#Then rename THIS file to .env
