python-dotenv == 1.0.0
click == 8.1.7
django == 4.2.7
psycopg2-binary ==  2.9.9
psycopg2 ==  2.9.9
beautifulsoup4 == 4.12.2
pytz == 2023.3.post1
sentry-sdk[django] == 1.37.0
rich == 13.7.0
psutil~=5.9.8
natsort==8.4.0
